<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <h2 class="navbar-brand" href="#">My Angular World</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/calculator">Calculator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-emp">Add Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-list">List All Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">All Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">All Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us/1010">Child Routes Demo</a>
      </li>
    </ul>
  </div>
</nav>
