
  <div class="col-md-6 col-md-offset-2">
    <h3>Angular Home Page</h3>
    <hr/>
      <h5>In this demo, we will learn about </h5>
      <ul class="text-success" style="font-weight: bold">
        <li>
            Angular Architecture
            <ul>
              <li>Modules</li>
              <li>Components
                  <ol>
                    <li>Root Component or App Component</li>
                  </ol>
              </li>
              <li>Services and Dependency Injection</li>
              <li>Models</li>
              <li>Directives</li>
              <li>Pipes, etc</li>
            </ul>
        </li>
      </ul>
      <!--providing the navigation to the component product-list
      with the help of router-link property binding to the 
    component routing defined in app-routing.module.ts file
  where urlPath is mapped to component
  product-list ProductListComponent-> 
-->
       </div>
  
